{% assign imageFiles = include.imageFiles %}

{% unless imageFiles.size == 0 %}
  <link rel="stylesheet" href="{{ "assets/lib/lightgallery/css/lightgallery.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "assets/lib/lightgallery/css/lg-zoom.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "assets/lib/lightgallery/css/lg-thumbnail.css" | relative_url }}">

  <div id="gallery" class="grid grid-cols-5 gap-4">
    {% for file in imageFiles %}
      {% assign src = file | relative_url %}

      <a href="{{ src }}">
        <img
          src="{{ src }}"
          class="w-full aspect-square object-cover"
          alt=""
          loading="lazy"
        >
      </a>
    {% endfor %}
  </div>

  <script src="{{ "assets/lib/lightgallery/lightgallery.min.js" | relative_url }}"></script>
  <script src="{{ "assets/lib/lightgallery/plugins/zoom/lg-zoom.min.js" | relative_url }}"></script>
  <script src="{{ "assets/lib/lightgallery/plugins/thumbnail/lg-thumbnail.min.js" | relative_url }}"></script>

  <script type="text/javascript">
    lightGallery(document.getElementById('gallery'), {
      plugins: [lgZoom, lgThumbnail],
      speed: 500,
      licenseKey: '0000-0000-000-0001'
    });
  </script>
{% endunless %}
