<section class="container pt-16 pb-24 grid grid-cols-2 gap-20 lg:gap-12">
  <div class="col-span-2 lg:col-span-1">
    <div class="text-center mb-12">
      <div class="heading mb-8">
        <h1>{{ page.opinionsTitle }}</h1>
        <hr>
      </div>

      <p>
        {{ page.opinionsDesc | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    </div>

    <div class="flex flex-col gap-10">
      {% for opinion in page.opinions %}
        <div class="flex items-start gap-4">
          <svg class="flex-none w-12 fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/>
          </svg>

          <div>
            <h5 class="mt-[22px] text-gray-750 uppercase text-lg font-semibold">{{ opinion.title }}</h5>

            <h6 class="mt-2 text-red-500 text-xs">
              <a class="hover:underline" href="{{ opinion.subtitleLink }}">{{ opinion.subtitle }}</a>
            </h6>

            <p class="mt-6">{{ opinion.content }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-span-2 lg:col-span-1">
    <div class="text-center mb-12">
      <div class="heading mb-8">
        <h1>{{ page.partnersTitle }}</h1>
        <hr>
      </div>

      <p>
        {{ page.partnersDesc | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    </div>

    {% include partners.liquid %}
  </div>
</section>
