---
layout: default-page
---
{% assign imageDirectory = 'assets/images' | append: page.url %}
{% assign files = '' | split: '' %}

{% directory path: imageDirectory %}
{% assign fileName = file.name | remove: page.slug | remove_first: '-' | split: '-' | first %}

{% unless files contains fileName %}
  {% assign files = files | push: fileName %}
{% endunless %}
{% enddirectory %}

<div class="grid grid-cols-1 lg:grid-cols-12 gap-10">
  <article class="lg:col-span-9">
    <div class="h-80">
      {% assign image = page.url | append: page.slug | append: '-1-980x320' %}
      {% include image.liquid src=image %}
    </div>

    <div class="border-solid border border-gray-300 border-t-[3px] border-t-red-500">
      <div class="flex">
        <div class="basis-full flex items-center px-6 py-2.5 border-b-[1px] border-gray-300 border-solid">
          <div class="px-2 py-[7.5px] w-7 rounded-full border border-gray-300 border-solid *:fill-gray-400">
            {% include icons/tag.svg %}
          </div>

          <span class="text-[12px] ml-2.5 text-neutral-500">
            Tagi:

            {% comment %}<?php if ($postTags): foreach ($postTags as $tag): ?>{% endcomment %}
            {% comment %}<a href="<?= get_tag_link($tag) ?>"><?= $tag->name ?></a>{% endcomment %}
            {% comment %}<?php endforeach; endif; ?>{% endcomment %}
          </span>
        </div>

        <div class="bg-red-500 px-2.5 pt-[3px] text-center text-white text-xs">
          {% comment %}<?= get_the_date("d") ?>{% endcomment %}
          {% comment %}<br>{% endcomment %}
          {% comment %}<?= get_the_date("M") ?>{% endcomment %}
        </div>
      </div>

      <div class="p-6">
        <h3 class="mb-2.5 uppercase font-semibold tracking-widest">
          {{- page.title -}}
        </h3>

        <div class="content">
          {{ page.content }}
        </div>

        <div class="flex flex-wrap justify-center gap-4 sm:gap-10 py-8">
          {% for file in files %}
            {% assign image = page.url | append: page.slug | append: '-' | append: file %}

            {% assign thumb = image | append: '-200x200' %}
            {% assign fullSize = image | append: '-1920x1200' %}

            <a href="{{ fullSize | append: '.jpg' | prepend: 'assets/images' | relative_url }}">
              {% include image.liquid src=thumb loading='lazy' class='w-24 sm:w-48' %}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>

  <aside class="lg:col-span-3">
    <h2 class="text-lg lg:text-xl tracking-wider">Kategorie</h2>
    <hr class="mb-5 mt-3 w-16 h-0.5 bg-red-500 border-none">

    <ul>
      {% assign categories = site.categories %}

      {% for category in categories %}
        <li>
          <a
            class="flex py-4 text-2xs text-neutral-600 border-b border-gray-300 border-solid duration-200 hover:underline hover:text-red-500"
            href="{{ category.url | relative_url }}"
          >
            {{- category.title -}}

            <span class="ml-auto">
              {{- site.services | where_exp: 'service', 'service.url contains category.url' | size -}}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <h2 class="mt-12 text-lg lg:text-xl tracking-wider">Tagi</h2>
    <hr class="mb-5 mt-3 w-16 h-0.5 bg-red-500 border-none">

    <ul>
      {% comment %}<?php foreach ($tags as $tag): ?>{% endcomment %}
      {% comment %}<li>{% endcomment %}
      {% comment %}<a{% endcomment %}
      {% comment %}class="flex py-4 text-2xs text-neutral-600 border-b border-gray-300 border-solid duration-200 hover:underline hover:text-red-500"{% endcomment %}
      {% comment %}href="<?= get_tag_link($tag->term_ID); ?>"{% endcomment %}
      {% comment %}>{% endcomment %}
      {% comment %}<?= $tag->name ?>{% endcomment %}
      {% comment %}{% endcomment %}
      {% comment %}<span class="ml-auto">{% endcomment %}
      {% comment %}<?= $tag->count ?>{% endcomment %}
      {% comment %}</span>{% endcomment %}
      {% comment %}</a>{% endcomment %}
      {% comment %}</li>{% endcomment %}
      {% comment %}<?php endforeach; ?>{% endcomment %}
    </ul>
  </aside>
</div>
